# 任务列表，在这里填写脚本文件的名字，填写格式如 ["mt", "kanxue"]
taskList = []

# 推送参数
[Push.qywx]
corpsecret = ""
corpid = ""
agentid = ""
mediaid = ""
[Push.telegram]
tgbotoken = ""
chatid = ""
[Push.pushdeer]
key = ""
[Push.ftqq]
key = ""

# 在刺猬猫app里抓包后，可从请求体里获得，ua需要从请求头里获得
[ciweimao]
account = ""
token = ""
ua = ""

# 在次元姬app里抓包后，可从请求头里获得
[ciyuanji]
token = ""
deviceno = ""
oaid = ""
targetmodel = ""

# 在不可能的世界APP里抓包登录可得
[bkneng]
username = ""
n4 = ""
n5 = ""
n7 = ""
device = ""
aesKey = ""
aesData = ""

# 在绅士领域app里抓包签到后，可从请求体里获得
[ssly]
uid = ""

# 抓包mt论坛网站获得
[mt]
cookie = ""

# 在库街区app里抓包后，可从请求头里获得token和devCode，userId需要抓包我的页面获得
[kurobbs]
token = ""
userId = ""
devCode =  ""
distinctId = ""
model = ""

# 抓包看雪论坛网站获得
[kanxue]
cookie = ""
